/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 768px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/
@media only screen and (min-width: 768px) {

	progress {
		height: 10px;
	}

	
}


/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 1024px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/

@media only screen and (min-width: 1024px) {

	
	progress {
		height: 15px;
	}

	.transcript {
		margin: 0 50px;
		line-height: 2;
	}

}