/*** mobile first ****/

.video-container {
	max-width: 100%;
	bottom: 0;
}

video {
	width: 100%;
}

.video-controls {
	position: absolute;
	width: 100%;
}

.displayTime {
	padding-left: 125px;	
}


.leftSide-controls {
	float: left;
}

.rightSide-controls {
	float: right;
}


.progress {
	position: relative;
	bottom: 20px;
}



input[type="range"] {
  width: 100%;
  height: 15px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  background: rgba(0,0,0,0.5);
  outline: none; 
  cursor: pointer;
}

/* FILLS IN PLAYBACK BAR in FIREFOX */
input[type="range"]::-moz-range-progress {
	background-color: #E88C0B;
}



input[type="range"]:: {
	background-color: #E88C0B;
}




p {
	cursor: default;
}



.highlight {
	color: #E88C0B;
}




/* MOVED TO media.css file */
/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 768px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/


/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 1024px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/



.transcript {
	margin: 0 50px;
	line-height: 2;
}







