/*** mobile first ****/

.video-container {
	
}

.video-controls {
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
}


img {
	padding: 15px;
}

.leftSide-controls {
	float: left;
}

.rightSide-controls {
	float: right;
}



input[type="range"] {
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; 
}





/* MOVED TO media.css file */
/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 768px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/


/**********************************
		|  ** ** ** ** ** ** ** **
		|         * * *
		|    MEDIA QUERY 1024px
		|         * * *
	 \ /  ** ** ** ** ** ** ** **
		\/
*************************************/



.transcript {
	margin: 20px 35px;
	line-height: 2;
}







